
.container {
  position: relative;
  top: 200px;
  left: 35%;
  display: block;
  margin-bottom: 80px;
  width: 500px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

.container-register {
  height: 520px;
}

.container-signin {
  height: 360px;
}
  
h2 {
  padding: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  color: #414141;
}
  
input {
  display: block;
  height: 55px;
  width: 90%;
  margin: 0 auto;
  border: none;
}
  
input::placeholder {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: .5s;
  transition: .5s;
}
  
input:hover, input:focus, input:active:focus {
  color: #0eb9a9;
  outline: none;
  border-bottom: 1px solid #0eb9a9;
}
  
input:hover::placeholder, input:focus::placeholder, input:active:focus::placeholder {
  color: #0eb9a9;
  position: relative;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}
  
.email,
.firstname,
.lastname,
.pwd {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #858585;
  font-weight: lighter;
  -webkit-transition: .5s;
  transition: .5s;
}

.signin-active {
  cursor: pointer;
}

.signin-inactive {
  cursor: no-drop;
}
  
button {
  bottom: 0;
  position: absolute;
  cursor: pointer;
  display: inline-block;
  /* float: left; */
  width: 250px;
  height: 60px;
  margin-top: -10px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

button:nth-of-type(1) {
  background: #514c5a;
  left: 0;
}
  
button:nth-of-type(2) {
  background: #0eb9a9;
  right: 0;
}
  
button span {
  position: absolute;
  display: block;
  margin: -10px 20%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .5s;
  transition: .5s;
}
  
button:hover span {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
}

.message {
  text-decoration:none;
  display:inline-block;
  color:#858585;
  font-weight:lighter;
  -webkit-transition:.5s;
  transition:.5s;
  margin-left: 24px;
}